<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a  class="d-flex men1 align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline ">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a class="nav-link align-middle px-0 " [routerLink]="['usuario']" routerLinkActive="active-link">
                                <i class="fs-4 bi-house "></i> <span   class="ms-1 men1 d-none d-sm-inline">Usuarios</span>
                            </a>
                        </li>
                       
                        <li>
                            <a  class="nav-link px-0 align-middle" [routerLink]="['hijos']"  >
                                <i class="fs-4 bi-table"></i> <span class="ms-1 men1 d-none d-sm-inline">Hijos</span></a>
                        </li>
           
                      
                     
                    </ul>
                    <hr>
  
                </div>
            </div>
            <div class="col py-3">
              <router-outlet></router-outlet>
              
            </div>
        </div>
    </div>
    

    
</body>
</html>