<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <div class="divhijo">
    <h1 class="titulohijo">HIJOS</h1>

  </div>

    <section class="table-form">
        <table class="table">
            <thead>
              <tr >
              
    
                <!-- <th scope="col">ID</th> -->
                <th scope="col">NombreHijo</th>
                <th scope="col">ApellidoHijo</th>
                <th scope="col">Accion</th>


              
    
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hijo of ArrayHijos">
                <!-- <td>{{usuario.id}}</td> -->
                
                <td>{{hijo.nombre}}</td>
                <td>{{hijo.apellido}}</td>
              
                <!-- <td>
                
                    <button class="btn btn-success"  type="button"
                    data-bs-toggle="modal" data-bs-target="#exampleModal" > Agregar</button>
                </td> -->
    
              </tr>
     
            </tbody>
          </table>
    </section>
</body>
</html>